[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "==0.28.1"
chromadb = "*"
tiktoken = "*"
pypdf = "*"
pydantic = "*"
streamlit = "*"
langchain = "*"
langchain-openai = "*"
jq = "*"

[dev-packages]

[requires]
python_version = "3.9"
