[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "==0.28.1"
chromadb = "*"
tiktoken = "*"
pypdf = "*"
pydantic = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.9"
